.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

img {
  display: block;
  margin: auto;
}

h4, h3, h2 {
  text-align: center;
}

.footer {
  background-color: #024772;
  margin-top: 50px;
  ul li a:hover {
    color: white;
  }
  li {
    display: inline-block;
    list-style: none;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.social-media {
  text-align: center;
  margin-bottom: 0px;
  margin-left: 0px;
}

.links-footer {
  text-align: center;
  padding-top: 12px;
  margin-bottom: 0px;
  margin-left: 0px;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -120px;
}

.footer, .push {
  height: 120px;
}

.panel.callout.radius {
  margin-top: 20px;
}

.first-text {
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px;
}

.set-of-three {
  padding-bottom: 75px;
  text-align: center;
}

@media only screen and (max-width: 640px) {
  .multi-devices-text, .evolution-text {
    margin-bottom: 75px;
  }
}

.free-price-option {
  background-color: #BFB6AE;
  list-style-position: inside;
}

.month-price-option {
  background-color: #0387A5;
}

.quarter-price-option {
  background-color: #02658C;
}

.prices ul {
  display: table;
  margin: 0 auto;
}

.prices li {
  margin-bottom: 10px;
}

.prices h3 {
  margin-top: 15px;
}

.prices h4 {
  margin-bottom: 35px;
}

.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }
.size-180 { font-size: 180px;}
