.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.umed-tabbar a {
  color:white;
}

.off-canvas-wrap, .inner-wrap {
  min-height: 100%;
}

.off-canvas-wrap {
  height: 100%;
  overflow-y: auto;
}

img {
  display: block;
  margin: auto;
}

h4, h3, h2 {
  text-align: center;
}

.footer {
  background-color: #024772;
  margin-top: 50px;
  ul li a:hover {
    color: white;
  }
  li {
    display: inline-block;
    list-style: none;
    padding-right: 5px;
    padding-left: 5px;
  }
}

em {
  color:#008CBA;
}

.social-media {
  text-align: center;
  margin-bottom: 0px;
  margin-left: 0px;
}

.links-footer {
  text-align: center;
  padding-top: 12px;
  margin-bottom: 0px;
  margin-left: 0px;
}

html, body {
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -120px;
}

.footer, .push {
  height: 120px;
}

.panel.callout.radius {
  margin-top: 20px;
}

.applebw {
  margin-bottom: 120px;
}

.first-text {
  text-align: center;
  margin-bottom: 120px;
}

.set-of-three {
  text-align: center;
  margin-bottom: 120px;
}

@media only screen and (max-width: 685px) {
  .multi-devices-text, .evolution-text {
    margin-bottom: 75px;
  }
}

.free-price-option {
  background-color:#C8CFD1;
}

.month-price-option {
  background-color: #B4BBBD;
}

.quarter-price-option {
  background-color: #A6ACAD;
}

.prices ul {
  display: table;
  margin: 0 auto;
}

.prices {
  margin-top: 75px;
}

.prices li {
  margin-bottom: 10px;
  font-style: italic;
}

.prices h3 {
  margin-top: 15px;
}

.prices h4 {
  margin-bottom: 35px;
}

.how-it-works {
  margin-bottom: 25px;
}

table {
  width: 100%;
}

.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }
.size-180 { font-size: 180px;}
