body {
  font-family: 'Open Sans';
}

.mailer {
  text-align: center;
}

.header {
  width:100%;
  font-size:30px;
  text-align: center;
  background-color: #024772;
  color:white;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 20px;
}

.title {
  font-size:25px;
}
